/* General */
@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../assets/fonts/BebasNeue-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Arimo-VariableFont_wght';
  src: url('../assets/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
}

.home-page {
   /* Add padding to account for the fixed header */
}

.section-title {
  font-size: 2.5rem; /* Increase font size */
  text-align: center;
  color: #9b282b; /* Rojo vibrante */
  font-family: 'BebasNeue-Bold', sans-serif; /* Apply BebasNeue-Bold font */
  padding: 0.5rem; /* Add padding for better spacing */
}

/* Hero Section */
.hero-section {
  position: relative;
  height: auto; /* Adjust height */
  display: flex;
  width: 100%; /* Ensure it takes the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.hero-title {
  font-size: 2rem;
}

.hero-subtitle {
  font-size: 1rem;
}


/* Promotion Cards */
.promotion-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vh; /* Space between cards for mobile */
  width: 100%; /* Full width */
}

.promotion-card {
  width: 100%; /* Cambiamos de 80% a 95% */
  border-radius: 8px;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 240px;
  padding: 10px;
  border-right: #f6ff00 outset 2px;
  border-bottom: #f6ff00 outset 2px;
  border-top: #0000005b inset 2px;
  border-left: #00005b inset 2px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.promotion-card:hover {
  transform: translateY(-5px); /* Elevación */
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.12); /* Sombra más pronunciada */
  background-color: #f8f8f8; /* Mantener el fondo igual al hacer hover */
}

.promotion-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.promotion-title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: #171716;
  font-family: 'Helvetica LT W04 Black', sans-serif;
}

.promotion-description {
  line-height: 1rem;
  font-size: 1rem;
  color: #4A2718; /* Marrón oscuro */
  font-family: 'Arimo-VariableFont_wght', sans-serif;
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.promotion-price {
  font-family: 'BebasNeue-Bold', sans-serif;
  font-size: 1.8rem;
  color: #000000;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
/*solo ocupa el 40% de la tarjeta hacia el lado izq*/
.promotion-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.promotion-image {
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Locations Section */
.locations-section {
  text-align: center;
}

.locations-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
  gap: 2rem; /* Adjust gap for better spacing */
}

.location {
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.location img {
  width: 100%;
  height: 250px;
  transition: transform 0.4s ease;
  object-fit: cover; /* Ensure images cover the container */
}

.location:hover img {
  transform: scale(1.2); /* Zoom effect */
}

.location p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.716); /* Semi-transparent background */
  color: #d1a411; /* Texto en color mostaza */
  padding: 1rem;
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
  transition: background 0.5s ease;
}

.location:hover p {
  background: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

/* WhatsApp Button */
.whatsapp-button {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  background-color: transparent; /* Make background transparent */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button img {
  width: 10vw; /* Adjust width for better visibility */
  height: auto; /* Adjust height to auto */
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.locations-content {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust for mobile */
}

