/* General */
@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../assets/fonts/BebasNeue-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Arimo-VariableFont_wght';
  src: url('../assets/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
}

.home-page {
   /* Add padding to account for the fixed header */
}

.section-title {
  font-size: 2.5rem; /* Increase font size */
  text-align: center;
  color: #9b282b; /* Rojo vibrante */
  font-family: 'BebasNeue-Bold', sans-serif; /* Apply BebasNeue-Bold font */
  padding: 0.5rem; /* Add padding for better spacing */
}

/* Hero Section */
.hero-section {
  position: relative;
  height: auto; /* Adjust height */
  display: flex;
  width: 100%; /* Ensure it takes the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.hero-title {
  font-size: 2rem;
}

.hero-subtitle {
  font-size: 1rem;
}


.btn-secondary {
  background-color: #fffffff5;
  color: rgb(0, 0, 0);
  padding: 0.8vh 1vw;
  border: 2px solid #9b282b;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  font-family: 'Arimo-VariableFont_wght', sans-serif;
}

.btn-secondary:hover {
  background-color: #a42c2c;
  color: rgb(255, 255, 255);
  transform: scale(0.8);
  border:2px solid #000000;
}

/* Promotion Cards */
.promotion-cards {
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vh; /* Space between cards for mobile */
}

.promotion-card {
  width: 95%; /* Cambiamos de 80% a 95% */
  border-radius: 8px;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 240px;
  padding: 10px;
  border-right: #f6ff00 outset 2px;
  border-bottom: #f6ff00 outset 2px;
  border-top: #0000005b inset 2px;
  border-left: #00005b inset 2px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.promotion-card:hover {
  transform: translateY(-5px); /* Elevaci칩n */
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.12); /* Sombra m치s pronunciada */
  background-color: #f8f8f8; /* Mantener el fondo igual al hacer hover */
}

.promotion-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.promotion-title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: #171716;
  font-family: 'Helvetica LT W04 Black', sans-serif;
}

.promotion-description {
  line-height: 1rem;
  font-size: 1rem;
  color: #4A2718; /* Marr칩n oscuro */
  font-family: 'Arimo-VariableFont_wght', sans-serif;
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.promotion-price {
  font-family: 'BebasNeue-Bold', sans-serif;
  font-size: 1.8rem;
  color: #000000;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
/*solo ocupa el 40% de la tarjeta hacia el lado izq*/
.promotion-image img {
width: 100%;
}

.promotion-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Locations Section */
.locations-section {
  text-align: center;
}

.locations-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
  gap: 2rem; /* Adjust gap for better spacing */
}

.location {
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.location img {
  width: 100%;
  height: 250px;
  transition: transform 0.4s ease;
  object-fit: cover; /* Ensure images cover the container */
}

.location:hover img {
  transform: scale(1.2); /* Zoom effect */
}

.location p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.716); /* Semi-transparent background */
  color: #d1a411; /* Texto en color mostaza */
  padding: 1rem;
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
  transition: background 0.5s ease;
}

.location:hover p {
  background: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

/* WhatsApp Button */
.whatsapp-button {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  background-color: transparent; /* Make background transparent */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button img {
  width: 10vw; /* Adjust width for better visibility */
  height: auto; /* Adjust height to auto */
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.locations-content {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust for mobile */
}

/* Media Query para pantallas peque침as */
@media (min-width: 768px) {
  .section-title {
    font-size: 3.5rem; /* Increase font size */
    text-align: center;
    color: #9b282b; /* Rojo vibrante */
    font-family: 'BebasNeue-Bold', sans-serif; /* Apply BebasNeue-Bold font */
    padding: 0rem; /* Add padding for better spacing */

  }
  /* Promotion Cards */
  .promotion-cards {
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  display: grid;
  flex-wrap: wrap;
  gap: 0px; /* Space between cards for mobile */
  grid-template-columns: 45% 45%; /* 3 columns for desktop */
  margin-top: 0px; /* Add margin to separate from the previous section */
  width: 100%; /* Full width for desktop */
 }
  .promotion-card {
  width: 99%; /* Cambiamos de 80% a 95% */
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #ffffff00;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 240px;
  padding: 10px;
  border: #9b282b solid 2px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
  .promotions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px; /* Add margin to separate from the previous section */
  padding: 0 1vw; /* Add padding for better spacing */
}
  .locations-section {
  text-align: center;
  padding: 0 3vw; /* Add padding for better spacing */
}
  .navbar .navbar-brand {
  color: #000;
  grid-area: logo;
}

  .navbar .navbar-brand img {
  height: 40px;
  width: 100%;
  object-fit: contain;
}
  .search-bar {
  grid-area: search;
  width: 450px;
  text-align: center;
  border: 1px inset #9f061b;
  border-radius: 20px;
}

  .search-bar input {
  background-color: #f5f5f5;
  border: 1px outset #e2be0c;
  border-radius: 20px;
  padding: 8px 15px;
  width: 100%;
}

  .products ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columns for desktop */
  gap: 1rem; /* Adjust gap for better spacing */
  padding: 1rem;
}
  .promotion-image img {

  height: 100%;
  object-fit: fill; /* Ensure the image covers the container */
  
  }
  
  .promotion-image {
    height: 195px; /* Adjust height for better visibility on desktop */
    display: flex;
    justify-content: center;
    align-items: center;
  
  }}

@media (min-width: 600px) {

  .search-bar {
    width: 100%; /* Full width for mobile */
    margin: 0; /* Remove margin for mobile */
  }

  .products ul {
    grid-template-columns: repeat(4, 1fr); /* 2 columns for mobile */
    gap: 0.5rem; /* Adjust gap for better spacing on mobile */
    padding: 2rem; /* Adjust padding for better spacing on mobile */
  }
  .promotion-cards {
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    display: grid;
    flex-wrap: wrap;
    gap: 10px; /* Space between cards for mobile */
    grid-template-columns: 45% 45%; /* 3 columns for desktop */
    margin-top: 0px; /* Add margin to separate from the previous section */
    width: 100%; /* Full width for desktop */
  }
}