

@font-face {
  font-family: 'Helvetica LT W04 Black';
  src: url('https://db.onlinewebfonts.com/c/b14220270a922222bb9500e01fd40f4f?family=Helvetica+LT+W04+Black') format('woff');
}
@font-face {
  font-family: 'Arimo-VariableFont_wght';
  src: url('/assets/fonts/Arimo-VariableFont_wght.ttf') format('truetype');}
/* Grid de productos */
.products ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
  gap: 1rem; /* Adjust gap for better spacing */
  padding: 1rem;
}

/* Producto individual con efecto 3D */
.products li {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px; /* Borde redondeado más suave */
  background: #ffffff;
  color: #333;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  border: 2px solid #9f061b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align elements to the top */
  height: auto; /* Ajustar altura */
  padding:0.2rem 0.5rem;
  min-height: 290px;
}

/* Efecto hover en los productos */
.products li:hover {
  transform: translateY(-10px); /* Elevación más pronunciada */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.12);
  background-color: #f9f9f9; /* Fondo ligeramente gris al pasar el cursor */
}

/* Contenedor de la información del producto */
.product-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1; /* Allow the product info to grow */
}

.product-category {
  font-size: 1.2rem;
  font-family: "BebasNeue-Bold", sans-serif;
  color: #9f061b;
  min-height: 30px;

}

.product-info .product-title{
  line-height: 1.4rem;
  font-size: 1.9rem;
  font-family: "BebasNeue-Bold", sans-serif;
  margin: 0 auto 0.7rem auto;
  background-color: rgba(230, 211, 44, 0.515);
  border-radius: 15px;
  min-height: 50px;
  align-content: center;
  width: 100%;
}

.product-info .product-description {
  line-height: 1rem;
  font-size: 1.1rem;
  color: #4A2718; /* Marrón oscuro */
  font-family: 'Arimo-VariableFont_wght', sans-serif;
  min-height: 90px;
  width: 100%;
  text-align: center;
}

.product-price {
  font-size: 2rem;
  font-family: "BebasNeue-Bold", sans-serif;
  background-color: #ffffff;
  border: 3px solid #9f061b;
  border-radius: 15px;
  bottom: 0.7rem; /* Position at the bottom */
  width: 90%; /* Make the price wider */
  position: absolute;
}

.product-price:hover{
  background-color: #9f061b;
  color: #ffffff;
}

/* Estilo de botones */
.button, .button-add, .button-remove {
  padding: 0.5vw 1.2vw;
  border: 2px solid #555;
  color: black;
  background-color: white;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1vw;
  width: auto; /* Hacer el botón más corto */
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  font-family: 'Rammetto One', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

/* Hover para los botones */
.button:hover, .button-add:hover, .button-remove:hover {
  background-color: #f1f1f1;
  border-color: #333;
  transform: translateY(-2px);
}

/* Estilo botón agregar al carrito */
.button-add {
  background-color: #9b282b;
  padding-top: 10px;
  color: white;
  width: 150px;
  height: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 15px;
}

/* Animación al hacer hover en el botón agregar */
.button-add:hover {
  background-color: #9b282b;
  color: white;
  transform: scale(1.1); /* Aumento de tamaño al hacer hover */
  transition: transform 0.2s ease-in-out;
}

/* Animación para agregar al carrito */
.button-add:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}

/* Animación de carrito */
.cart-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #9b282b;
  opacity: 0;
  animation: cartMove 0.6s forwards;
  z-index: 9999;
}

.swal2-popup {
  font-size: 1rem; /* Cambia el tamaño de la fuente */
}

.swal2-styled.swal2-confirm {
  background-color: #9b282b !important; /* Cambia el color de fondo del botón */
  color: white !important; /* Cambia el color del texto del botón */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Añade bordes redondeados */
  padding: 10px 20px; /* Ajusta el padding */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
}

/* Estilo para la barra de categorías */
.category-buttons-container {
  position: sticky;
  z-index: 10;
  top:9vh;
  background-color: rgb(255, 255, 255);
  padding: 8px 0;
  box-shadow: 0 3px 8px rgba(209, 209, 9, 0.1);
}

.category-buttons {
  flex-wrap: nowrap;
  padding: 1vh 3vw;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none; /* Ocultar barra de desplazamiento */
  -ms-overflow-style: none;  /* IE y Edge */
  white-space: nowrap;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.688);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto; /* Evita problemas si el contenido es muy alto */
}

.modal-body {
  max-height: 80vh; /* Altura máxima antes de activar el scroll */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  font-size: 20px;
  color: #333;
  font-family: 'BebasNeue-Bold', sans-serif;
  padding: 20px;

}

/*Nombre Prod.*/
.modal-prod-name {
  line-height: 2rem;
  font-size: 40px;
  font-family: 'BebasNeue-Bold', sans-serif;
  color: #9b282b;
  text-align: center;/*mover segun donde queramos el nombre del prod.*/
  margin-top: 10px;
  margin-bottom: 50px
}

/*Descripcion prod.*/
.modal-prod-description { 
  font-size: 20px;
  font-family: 'Arimo-VariableFont_wght', sans-serif;
  margin-top: -40px;
  text-align: center; /*probablemnte mover*/
}

.modal-pedido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.modal-content {
  background-color: white;
  border-radius: 15px;
  min-height: 70vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd; /* Borde más claro para mejor visualización */
  max-height: 90vh; /* Evita que el modal crezca demasiado */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Mejora el contraste */
}
.modal-body-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;

}

.modal-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /* Separador sutil */
}

.close {
  position: absolute;
  right: 40px;
  font-size: 30px;
  cursor: pointer;
  color: #9b282b;
  transition: transform 0.3s ease, color 0.3s ease;
}

.close:hover {
  color: #8a2325;
  transform: scale(1.1);
}

.extra-category {
  margin-top: 20px;
}

.extra-category h4 {
  cursor: pointer;
  font-size: 18px;
  color: #9b282b;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.extra-category h4:hover {
  color: #8a2325;
}

.extra-category .expanded {
  margin-bottom: 20px;
}

.extra-items {
  display: flex;
  flex-direction: column;
}

.extra-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.extra-item span {
  font-size: 16px;
  text-align: left;
  font-family: 'Arimo-VariableFont_wght', sans-serif;
}

.checkmark {
  color: #9b282b;
  border: 2px solid #9b282b;
  border-radius: 10px;
}

.extra-item-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.extra-item-buttons button {
  padding: 5px 10px;
  font-size: 18px;
  border: 2px solid #9b282b;
  border-radius: 5px;
  background-color: white;
  color: #9b282b;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.extra-item-buttons button:hover {
  background-color: #9b282b;
  color: white;
}

.button-add {
  background-color: #9b282b;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  width: 75%;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-family: 'BebasNeue-Bold', sans-serif;
  font-size: 25px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 1000;
}

.button-add:hover {
  background-color: #8a2325;
}

/* Container for filters and banner */
.filters-banner-container {
  display: none; /* Remove the container */
}

/* Specific styles for the banner within the Products page */
.products-banner-container {
  position: relative;
  width: 100%; /* Full width */
  height: 400px; /* Adjust height for better visibility */
  margin-top: 0; /* Remove margin to position the banner closer to the filter */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  background-color: transparent; /* Remove background color */
  border-radius: 0; /* Ensure no rounded corners */
}

.products-banner-image {
  width: 100%;
  height: 100%; /* Ensure the image covers the container */
  object-fit: cover; /* Adjust object-fit to cover */
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 0; /* Ensure no rounded corners */
}

.products-banner-image.active {
  opacity: 1;
  position: absolute;
}

.products-banner-image.left {
  transform: translateX(100%);
}

.products-banner-image.right {
  transform: translateX(-100%);
}

.products-banner-image.active.left {
  transform: translateX(0);
}

.products-banner-image.active.right {
  transform: translateX(0);
}

.products-banner-image.slide-left {
  transform: translateX(100%);
}

.products-banner-image.slide-right {
  transform: translateX(-100%);
}

.products-banner-image.active.slide-left {
  transform: translateX(0);
}

.products-banner-image.active.slide-right {
  transform: translateX(0);
}

.products-banner-image.dragging {
  transition: none; /* Disable transition during dragging */
}

/* Controles del banner */
.products-banner-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  color: white;
  border: none; /* Remove border */
  padding: 5px; /* Adjust padding */
  cursor: pointer;
  z-index: 10;
  width: 30px; /* Adjust width */
  height: 30px; /* Adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 50%; /* Rounded corners */
}

.products-banner-control.prev {
  left: 5px; /* Adjust left position */
}

.products-banner-control.next {
  right: 5px; /* Adjust right position */
}

.products-banner-control:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

/* Indicadores del banner */
.products-banner-indicator {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  gap: 5px;
}

.products-banner-indicator div {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.products-banner-indicator div.active {
  background-color: rgba(255, 255, 255, 1);
}

.products-section-title{ 
  font-size: 2.5rem; 
  text-align: center;
  color: #9b282b; 
  font-family: 'BebasNeue-Bold', sans-serif;
  margin-bottom: -20px;
  margin-top: 0px;
}

@keyframes cartMove {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}


  .products ul {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
  }


  .category-button {
    flex: 1 1 auto;
  }

  .button {
    padding: 0.3vw 1vw;
    font-size: 1rem;
  }

  .products li {
    padding-bottom: 60px; /* Increase padding to prevent overflow */
  }

  .modal-product-image {
    max-height: 250px; /* Ajustar altura máxima para dispositivos móviles */
  }

  .modal-content {
    width: 100%;
    height: auto;
    max-height: 95vh;
  }

  .modal-right {
    padding: 15px;
  }

  /*envuelve el banner para darle propiedades al componente banner.jsx*/
  .banner-wrapper{
  }