

@font-face {
  font-family: 'Helvetica LT W04 Black';
  src: url('https://db.onlinewebfonts.com/c/b14220270a922222bb9500e01fd40f4f?family=Helvetica+LT+W04+Black') format('woff');
}
@font-face {
  font-family: 'Arimo-VariableFont_wght';
  src: url('/assets/fonts/Arimo-VariableFont_wght.ttf') format('truetype');}
/* Grid de productos */

/* Estilo para la barra de categorías */
.category-buttons-container {
  position: sticky;
  z-index: 10;
  top:8vh;
  background-color: rgb(255, 255, 255);
  padding: 8px 0;
  box-shadow: 0 3px 8px rgba(209, 209, 9, 0.1);
}

.category-buttons {
  flex-wrap: nowrap;
  padding: 1vh 2vw;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none; /* Ocultar barra de desplazamiento */
  -ms-overflow-style: none;  /* IE y Edge */
}
