

@font-face {
  font-family: 'Helvetica LT W04 Black';
  src: url('https://db.onlinewebfonts.com/c/b14220270a922222bb9500e01fd40f4f?family=Helvetica+LT+W04+Black') format('woff');
}
@font-face {
  font-family: 'Arimo-VariableFont_wght';
  src: url('/assets/fonts/Arimo-VariableFont_wght.ttf') format('truetype');}
/* Grid de productos */
.products ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
  gap: 1rem; /* Adjust gap for better spacing */
  padding: 1rem;
}

/* Producto individual con efecto 3D */
.products li {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px; /* Borde redondeado más suave */
  background: #ffffff;
  color: #333;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  border: 2px solid #9f061b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align elements to the top */
  height: auto; /* Ajustar altura */
  padding:0.2rem 0.5rem;
  min-height: 290px;
}

/* Efecto hover en los productos */
.products li:hover {
  transform: translateY(-10px); /* Elevación más pronunciada */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.12);
  background-color: #f9f9f9; /* Fondo ligeramente gris al pasar el cursor */
}

/* Contenedor de la información del producto */
.product-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1; /* Allow the product info to grow */
}

.product-info .product-title{
  line-height: 1.4rem;
  font-size: 1.9rem;
  font-family: "BebasNeue-Bold", sans-serif;
  margin: 0 auto 0.7rem auto;
  background-color: rgba(230, 211, 44, 0.515);
  border-radius: 15px;
  min-height: 50px;
  align-content: center;
  width: 100%;
}

.product-info .product-description {
  line-height: 1rem;
  font-size: 1.1rem;
  color: #4A2718; /* Marrón oscuro */
  font-family: 'Arimo-VariableFont_wght', sans-serif;
  min-height: 90px;
  width: 100%;
  text-align: center;
}

.product-price {
  font-size: 2rem;
  font-family: "BebasNeue-Bold", sans-serif;
  background-color: #ffffff;
  border: 3px solid #9f061b;
  border-radius: 15px;
  bottom: 0.7rem; /* Position at the bottom */
  width: 90%; /* Make the price wider */
  position: absolute;
}

.product-price:hover{
  background-color: #9f061b;
  color: #ffffff;
}

/* Hover para los botones */
.button:hover, .button-add:hover, .button-remove:hover {
  background-color: #f1f1f1;
  border-color: #333;
  transform: translateY(-2px);
}



/* Estilo para la barra de categorías */
.category-buttons-container {
  position: sticky;
  z-index: 10;
  top:8vh;
  background-color: rgb(255, 255, 255);
  padding: 8px 0;
  box-shadow: 0 3px 8px rgba(209, 209, 9, 0.1);
}

.category-buttons {
  flex-wrap: nowrap;
  padding: 1vh 2vw;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none; /* Ocultar barra de desplazamiento */
  -ms-overflow-style: none;  /* IE y Edge */
}
