PORT=3001
ALLOWED_ORIGIN=*

SMTP_HOST=smtp.tu-dominio.cl
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=soporte@tu-dominio.cl
SMTP_PASS=tu_app_password_o_clave_smtp

QUOTE_FROM_EMAIL=no-reply@smkvending.cl
QUOTE_TO_EMAIL=soporte@smkvending.cl
